<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/header :: bootstrap"></head>
<body>
<div class="container my-5">
    <h3>Add/Edit User</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" method="post" th:action="@{/add}" th:object="${usr}">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="username">Username</label>
                            <input class="form-control" id="username" placeholder="Username"
                                   required th:field="*{username}"
                                   th:if="*{id} != null ? 'readonly' : ''" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="password">Password</label>
                            <input class="form-control" id="password" placeholder="Password"
                                   required th:field="*{password}" type="password"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="firstName">First Name</label>
                            <input class="form-control" id="firstName" placeholder="First Name"
                                   th:field="*{firstName}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="lastName">Last Name</label>
                            <input class="form-control" id="lastName" placeholder="Last Name"
                                   th:field="*{lastName}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="email">Email</label>
                            <input class="form-control" id="email" placeholder="Email Id"
                                   required th:field="*{email}" type="email"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="address">Address</label>
                            <input class="form-control" id="address" placeholder="Address"
                                   th:field="*{address}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="phone_number">Phone</label>
                            <input class="form-control" id="phone_number" placeholder="Phone"
                                   th:field="*{phoneNumber}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="birthday">Birth date</label>
                            <input class="form-control" id="birthday" required
                                   th:field="*{birthDate}" type="date"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="roles">Roles</label>
                            <select name="roles" multiple class="form-control" id="roles" required>
                                <option th:each="role : ${user_roles}"
                                        th:value="${role.id}" th:text="${role.name}">Role
                                </option>
                            </select>
                        </div>

                        <input id="id" th:field="*{id}" type="hidden">

                        <div class="col-md-6">
                            <input class="btn btn-primary" type="submit" value=" Submit ">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>